<!DOCTYPE html>
<html lang="en">
<head>
    <title>A new era begins with YOU.</title>

    <link rel="stylesheet" href="/assets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/clippy.css" type="text/css">
    <link rel="stylesheet" href="/assets/win9x.scss" type="text/css">
    <link rel="stylesheet" href="/assets/standalone.scss" type="text/css">

    <script
        src="/assets/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/jquery.cookie.js"
        integrity="sha256-jAMBs9ulBhYy1zIc2Lt71Sf0gojVyxX/YU6gwdzBrWk="
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/moment.js"
        integrity="sha384-Z9rov0QZQoXJqe/hrdm93ID90tM8OLFUXcIsBnQosgHNQ6wBRqdH+DoIrUkBbxH5"
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/buzz.min.js"
        integrity="sha256-HNgpH2tUStjWEAyj9ceHG+2WQdu5Oh1V6NzjG/HF0vo="
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/mousetrap.min.js"
        integrity="sha256-fHzjsajIgwWDvn3rf3b1IxdXX4PoIml763//KcQaA44="
        crossorigin="anonymous"
    ></script>

    <script
        src="/assets/webamp.bundle.min.js"
        integrity="sha384-iKnTLQLVvAAf5EQ7px1ELf2KOZhSevFKWfKnyaP2S4QWWuC/ncsGUXXes8k3UOoY"
        crossorigin="anonymous"
    ></script>

    <script src="/assets/win9x.js"></script>
    <script src="/assets/clippy.js"></script>
</head>
<body>
    {{ template "content" . }}
</body>
</html>